/* Navigation */
.navigation-bar.top-nav-collapse .navbar-nav > li > a.active {
  color: #33A1DE !important;
}

/* btn */
.btn.btn-fill {
  background: #33A1DE;
  border: 2px solid #33A1DE;
}

.btn.btn-fill:hover, .btn.btn-fill:focus {
  background: transparent;
  color: #33A1DE;
}

.btn.btn-bordered:hover, .btn.btn-bordered:focus {
  background: #ffffff;
  color: #33A1DE;
}

.btn.btn-green-bordered {
  color: #33A1DE;
  border: 2px solid #33A1DE;
}

.btn.btn-green-bordered:hover, .btn.btn-green-bordered:focus {
  color: #ffffff;
  background: #33A1DE;
}

/* HEADER */
.header-background {
  background: #33A1DE;
  background-image: url("../images/bg-line.png"), -webkit-linear-gradient(93deg, #2295d5 0%, #33A1DE 46%, #49abe2);
}

/* ABOUT SECTION */
.about-section .icon-bg {
  color: #33A1DE;
  font-size: 22px;
  background: #ffffff;
}

.about-section .style-line {
  background: rgba(51, 161, 222, 0.3);
  background: linear-gradient(to right, rgba(51, 161, 222, 0.3), #1f86bf, rgba(51, 161, 222, 0));
}

.about-section .icon-bg-green {
  color: #30c779;
}

.about-info .info-box {
  border: 2px solid #33A1DE;
}

.about-info .info-box.info-content {
  background-color: #33A1DE;
}

.about-info .info-box .circle-icon {
  background-color: #33A1DE;
}

.about-info .info-box .info-line {
  border-top: 2px solid #33A1DE;
}

/* Features Section */
.heading-background .overlay {
  background-color: #33A1DE;
}

.features .circle-features {
  border: 2px solid #33A1DE;
  color: #33A1DE;
}

.feature-block:hover .circle-features {
  background-color: #33A1DE;
}

/* Pricing Section */
.pricing-section .content-section .main-container .green-container, .pricing-section .compare-pricing-plans + .compare-plans .main-container .green-container {
  background-color: #33A1DE;
}

.pricing-section .content-section .main-container .green-container.basic-first, .pricing-section .compare-pricing-plans + .compare-plans .main-container .green-container.basic-first {
  background-color: #1f86bf;
}

.pricing-section .content-section .container-class .standard-block, .pricing-section .compare-pricing-plans + .compare-plans .container-class .standard-block {
  background-color: #186793;
}

.pricing-section .content-section .container-class .compare-text-digit.standard-block-2, .pricing-section .compare-pricing-plans + .compare-plans .container-class .compare-text-digit.standard-block-2 {
  background-color: #33A1DE;
}

.pricing-section .content-section .container-class .feature-heading .name, .pricing-section .compare-pricing-plans + .compare-plans .container-class .feature-heading .name {
  color: #33A1DE !important;
}

/* Compare Pricing Plans Section */
.compare-pricing-plans .icon-bg {
  color: #33A1DE !important;
}

.compare-pricing-plans .heading {
  color: #33A1DE;
}

.compare-pricing-plans .style-line {
  background: rgba(51, 161, 222, 0.3);
  background: linear-gradient(to right, rgba(51, 161, 222, 0.3), #1f86bf, rgba(51, 161, 222, 0));
}

.compare-pricing-plans + .compare-plans .features {
  margin-top: 4px;
}

.compare-pricing-plans + .compare-plans .features .container-heading .plan-features-2 {
  color: #33A1DE;
}

/* Testimonial */
.testimonials {
  /* Caraousal */
}

.testimonials .icon-bg {
  color: #33A1DE;
}

.testimonials .container-padding .heading {
  color: #33A1DE;
}

.testimonials .container-padding .style-line {
  background: rgba(51, 161, 222, 0.3);
  background: linear-gradient(to right, rgba(51, 161, 222, 0.3), #1f86bf, rgba(51, 161, 222, 0));
}

.testimonials .carousel-indicators .active {
  background-color: #33A1DE;
}

.testimonials .carousel-caption.name {
  color: #33A1DE;
}

/* contact */
.contact-section .contact-info .style {
  color: #33A1DE;
}

.contact-section .contact-info .heading-info {
  color: #33A1DE;
}

.contact-section .contact-info .block-content {
  width: 30%;
}

.infoBox {
  background: #33A1DE;
}

.infoBox:after {
  border-top-color: #33A1DE;
}

/* SUBSCRIBE */
.form-container button:hover span {
  color: #2c6083;
}

/* FOOTER */
.footer .heading li:first-child {
  color: #33A1DE;
}

.footer .heading li .social-icons a:hover, .footer .heading li .social-icons a:focus {
  border: 2px solid #33A1DE;
  color: #33A1DE;
}

.footer .recent-post li:first-child {
  color: #33A1DE;
}

.footer .recent-post li p a {
  color: #33A1DE;
}

.footer-bottom p {
  color: #33A1DE;
}

.btn-primary {
  background: #33A1DE;
  border: 2px solid #33A1DE;
}

.btn-primary:hover, .btn-primary:focus {
  background: transparent;
  color: #33A1DE;
}

/* Login Form */
.forget-password:hover, .forget-password:focus, .forget-password:active {
  color: #33A1DE;
}

/*# sourceMappingURL=blue.css.map */
