

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f4f4f4;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
  
  .bg-darkblue {
    background-color: #0d0c22; /* Dark blue color */
  }
  
  .bg-white {
    background-color: #ffffff; /* White background */
  }
  
  .text-orange {
    color: #f57c00; /* Orange color */
  }
  
  
  .feature-item-list {
    margin-bottom: 10px;
  }
  
  .custom-file-input {
    cursor: pointer;
  }
  
  .toggle-password, .toggle-confirm-password {
    cursor: pointer;
    height: 100%;
    border-radius: 0 4px 4px 0;
  }
  
  .input-group-text {
    cursor: pointer;
  }
  
  @media (max-width: 991.98px) {
    .cover-container {
      text-align: center;
    }
  
    .col-md-6 {
      margin-bottom: 20px;
    }
  
    .bg-darkblue {
      text-align: center;
    }
  }
  